.navbar{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.navbar a{
  text-decoration: none;
  font-size: 22px;
  color: blue;
  text-transform: capitalize;
}
.navbar a:hover{
  text-decoration: underline;
}